{% if user.is_authenticated %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
           href="#"
           id="navbarDarkDropdownMenuLink"
           role="button"
           data-bs-toggle="dropdown"
           aria-expanded="false">{{ user.get_full_name|default:"User" }} ({{ user.email }})</a>
        <ul class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="navbarDarkDropdownMenuLink">
            <li>
                <a class="dropdown-item" href="{% url 'password-change' %}">
                    <i class="fa-solid fa-key" style="margin-right:10px"></i>Change Password
                </a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'logout' %}">
                    <i class="fa-solid fa-right-from-bracket" style="margin-right:10px"></i>Logout
                </a>
            </li>
        </ul>
    </li>
{% else %}
    <li>
        <a href="{% url 'login' %}" class="nav-link">
            <i class="fa-solid fa-right-to-bracket" style="margin-right:10px"></i>Login
        </a>
    </li>
{% endif %}
