{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_javascript %}
{% bootstrap_css %}
{% block title %}
    Homebuyer Dashboard
{% endblock title %}
{% block body %}
    <div class="mt-5">
        <h2>
            <strong>Homebuyer Dashboard</strong>
        </h2>
        <ul class="list-group mt-5">
            {% for home in house %}
                <li class="list-group-item">
                    <div class="row d-flex align-items-center my-3 mx-1">
                        <div class="col-sm-6">
                            <h4>{{ home }}</h4>
                            <p class="m-0">{{ home.address }}</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="m-0">
                                <a href="{{ home.evaluation_url }}"
                                   role="button"
                                   class="btn btn-primary w-25">Link</a>
                            </p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock body %}
