{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_javascript %}
{% bootstrap_css %}
{% block title %}
Homebuyer Dashboard
{% endblock title %}
{% block body %}
<div class="mt-5">
    <h2 class="d-flex align-items-center justify-content-between">
        <strong>Homebuyer Dashboard</strong>
        <a href="{% url 'house-add' %}" role="button" class="btn btn-primary">Add House<i class="fa-solid fa-plus" style="padding-left: 10px"></i></a>
    </h2>
    <ul class="list-group mt-5">
        {% bootstrap_messages %}
        {% for home in house %}
        <li class="list-group-item">
            <div class="row d-flex align-items-center my-3 mx-1">
                <div class="col-sm-6">
                    <h4>{{ home }}</h4>
                    <p class="m-0">{{ home.address }}</p>
                </div>
                <div class="col-sm-6">
                    <p class="m-0 d-flex align-items-center justify-content-evenly">
                        <a href="{{ home.evaluation_url }}" role="button" class="btn btn-primary w-25">Evaluate</a>
                        <a href="{% url 'house-edit' home.id %}" role="button" class="btn btn-warning w-25">Edit</a>
                        <a href="{% url 'house-delete' home.id %}" role="button" class="btn btn-danger w-25">Delete</a>
                    </p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock body %}