{% extends "base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_javascript %}
{% bootstrap_css %}
{% block title %}
Delete House
{% endblock title %}
{% block body %}
<div class="mt-5">
    <h2>
        <strong>Delete {{ house.nickname }}</strong>
    </h2>
    <h4>
        <em>{{ house.address }}</em>
    </h4>
    <div class="well mt-5">
        {% bootstrap_messages %}
        <form style="margin-bottom:20px" action="{% url 'house-delete' house.id %}" role="form" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="my-5">
                <p>
                    <em>This Action is not Reversible!</em>
                </p>
                <div>
                    <a href="{% url 'home' %}" role="button" class="btn btn-primary">Return</a>
                    <button role="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}