<!DOCTYPE html>
{% load django_bootstrap5 %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Real Estate
        {% endblock title %}
    </title>
    <meta name="author"
          content="Portland State University Capstone Spring 2015 Team G">
    <meta name="description" content="Real Estate Decisions">
    <meta name="keywords" content="realestate">
    {% bootstrap_css %}
    {% block style %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">Real Estate App</a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'admin:index' %}">Admin</a>
                        </li>
                    {% endif %}
                    {% block navbarright %}
                    {% endblock navbarright %}
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'login' %}">Log In</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block body %}
        {% endblock body %}
    </div>
    {% bootstrap_javascript %}
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
